{% extends "base.html" %}

{% block content %}
<div>home page: <a href="/">Go to home page</a></div>
<br>
<form action="/encode" method="post" id="form1">
    <label for="Encoded">Type Normal Text for encoding:</label><br>
    <input type="text" id="Encoded" name="encode"><br>
</form>
<button type="submit" form="form1" value="encode">Encode</button><br>

{% block encode %}{% endblock %}

<br>
<form action="/decode" method="post">
    <label for="Decoded">Decode the Morse Code:</label><br>
    <input type="text" id="Decoded" name="decode"><br><br>
    <input type="submit" value="Decode">
</form>

{%block decode %}{% endblock %}

{% endblock %}